#footer {
  min-height: 300px;
}

#footer .call-action {
  background: url(assets/banner-4.jpeg);
  background-size: cover;
  text-align: center;
  font-family: var(--font-oswald);
  color: var(--color-black);
  text-transform: uppercase;
  max-width: none;
  box-sizing: border-box;
  padding: 70px 0px;
  background-position: 0px;
  background-origin: border-box;
}

#footer > div {
  max-width: 960px;
}

#footer .call-action > * {
  margin: 15px;
}
#footer .call-action h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin: 0px;
}
#footer .call-action h1 {
  font-size: 3em;
  margin: 0px;
}
#footer .call-action p {
  font-size: 0.8em;
  margin-bottom: 40px;
}

#footer .call-action a {
  text-decoration: none;
  background-color: var(--color-red);
  padding: 10px 40px;
  color: var(--color-white);
}

#footer .map-site {
  margin-top: 2em;
}
#footer .map-site > div {
  width: 25%;
  float: left;
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
}

#footer .map-site h3 {
  font-family: var(--font-oswald);
  font-size: 1em;
  margin: 0px;
  text-transform: uppercase;
}

#footer .map-site p {
  color: var(--color-gray);
  margin: 5px;
  font-size: 0.8em;
  line-height: 1.6;
}

#footer .map-site::after {
  content: '';
  display: block;
  clear: both;
}

#footer .yellow {
  color: var(--color-yellow);
}

#footer a.social {
  text-decoration: none;
  color: var(--color-black);
  margin: 0px 5px;
}

#footer .information {
  border-top: 1px #ddd solid;
  margin-top: 2em;
  padding: 1.5em 0;
  box-sizing: border-box;
}
#footer .information ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#footer .information li {
  display: inline-block;
}

#footer .information li a {
  text-align: center;
  padding: 16px;
  text-decoration: none;

  color: var(--color-gray);
  font-size: x-small;
  text-transform: capitalize;
}

#footer li + li::before {
  color: #ddd;
  content: '|';
}
