html,
body {
  padding: 0px;
  margin: 0px;
  font-family: var(--font-roboto);
  color: var(--color-black);
}

body > div > div {
  max-width: 960px;
  /* background: rgba(0, 0, 0, 0.1); */
  margin: auto;
}

/* CARD */
.card {
  border: var(--color-gray) 1px solid;
  border-radius: 8px;
  min-height: 200px;
  padding: 10px;
  box-sizing: border-box;
}
